{% extends 'base.html' %}
{% block content %}
    {% load static %}
    {% include 'menu.html' %}

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>Адреса для рассылок</h1>
                    <a class="btn btn-primary" href="{% url 'mailing:client_create' %} ">Добавить</a>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Клиент</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% include 'pagination.html' %}
                            {% for client in clients %}
                            <tr>
                                <td><a href="{{ client.id }}">{{ client.name }}</a></td>
                                <td>{{ client.email }}</td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                 </div>
            </div>

        </div>
    {% endblock %}