{% extends 'base.html' %}
{% block content %}
{% load static %}
{% include 'menu.html' %}

<div class="p-4">
<div class="id_client"> ID: {{ client.id }}  </div>
<div class="info_client">Получатель:  {{ client.name }} - {{ client.email }} </div>
{% if client.unsubscribe %}
<div class="unsubscribe_client"> ОТПИСКА  </div>
{% endif %}
<div class="description_client">Комментарий: {{ client.description }} </div>
</div>


<div class="p-4">
    <form method="POST">
                    {% csrf_token %}
                 <p style="color: red">Точно хотите удалить запись: <b>{{ client.name }} </b></p>

                <button type="submit" class="btn btn-primary">Удалить</button>
                <a href="{% url 'mailing:clients' %}" class="btn btn-secondary">Отмена</a>
    </form>

</div>

{% endblock %}