
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/mailing/" class="nav-link active" aria-current="page">Рассылки</a></li>
        <li class="nav-item"><a href="/mailing/client/" class="nav-link">Клиенты</a></li>
        <li class="nav-item"><a href="/mailing/message/" class="nav-link">Содержание</a></li>
        <li class="nav-item"><a href="/mailing/task/" class="nav-link">Планировка рассылок</a></li>
      </ul>
    </header>
  </div>