
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/mailing/" class="nav-link {% if not active_menu  %} active {% endif %} " aria-current="page">Рассылки</a></li>
        <li class="nav-item"><a href="/mailing/client/" class="nav-link {% if active_menu == 'client' %} active {% endif %}">Клиенты</a></li>
        <li class="nav-item"><a href="/mailing/message/" class="nav-link {% if active_menu == 'messages' %} active {% endif %}">Тексты</a></li>
        <li class="nav-item"><a href="/mailing/task/" class="nav-link {% if active_menu == 'task' %} active {% endif %}">Планировка рассылок</a></li>
      </ul>
    </header>
  </div>